a:active {
    display: block; Отображать как блок
    border: 4px solid rebeccapurple;
margin: 20px;  Внешние отступы
padding: 10px; Поля (внутренние отступы)
background: linear-gradient(to top, #4fbd24, #41ec03);

}